@model NewProductViewModel
@{
    ViewBag.Title = "Create";
    Layout = null;
    var imageURL = "/Content/images/placeholderImage.jpg";
}

<h2>Create Product</h2>

<form id="createProduct">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <select name="CategoryId">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" name="Name" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="Description" />
            </div>

            <div class="form-group">
                <label>Price</label>
                <input type="number" class="form-control" name="Price" />
            </div>

            <div class="form-group">
                <label>Select Image</label>
                <input type="hidden" name="ImageURL" id="ImageURL" />
                <input class="form-control" type="file" accept=".png, .jpg" id="imageUpload" style="height:100px" />
                <div class="thumb">
                    <img id="categoryImage" />
                </div>
            </div>

            <input type="button" value="Save" id="saveBtn" />
            <input type="button" value="Cancel" id="cancelBtn" />
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img id="productImage" class="img-thumbnail img-fluid" src="@imageURL" />
            </div>
        </div>

    </div>

</form>


<script>
    $("#saveBtn").click(function () {

        //jQuery ajax call
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Products")', //'/Products/Create',
            data: $('#createProduct').serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
                focusAction("tableContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });
    $("#imageUpload").change(function () {

        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file)
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")', //'/Shared/UploadImage',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                if (response.Success == true) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#productImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });

    });
    $("#cancelBtn").click(function () {
                $("#actionContainer").html("");
                focusAction("tableContainer");
    });
</script>
