@model EditProductViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>
<form id="editProduct">
    <input name="Id" id="txtId" value="@Model.Id" hidden="hidden" />
    <div class="form-group">
        <label>Category</label>
        <select name="CategoryId" class="form-control">
            @foreach (var category in Model.AvailableCategories)
            {
                var selected = category.Id == Model.CategoryId ? "selected" : string.Empty;
                <option value="@category.Id" @selected>@category.Name</option>
            }
        </select>

    </div>
    <div class="form-group">
        <label>Name</label>
        <input name="Name" id="txtName" value="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input name="Description" id="txtDescription" value="@Model.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input name="Price" id="txtPrice" value="@Model.Price" class="form-control" />
    </div>
    <button type="button" id="updateBtn">Update</button>
    <button type="button" id="cancelBtn">Cancel</button>
</form>

<script>
    $("#updateBtn").click(function () {
        var Id = $("#txtId").val();
        var Name = $("#txtName").val();
        var Description = $("#txtDescription").val();
        var Price = $("#txtPrice").val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Edit", "Product")', //'/Product/Edit',
            data: $('#editProduct').serialize()
            //data: {
            //    Id: Id,
            //    Name: Name,
            //    Description: Description,
            //    Price: Price
            //}
        })
            .done(function (response) {

                $("#tablContainer").html(response);
                $("#createProduct").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>